<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HjemmeGUS</title>
  <style type="text/css">
    .masthead {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 35rem;
      padding: 15rem 0;
      background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 60%, rgba(22, 22, 22, 0.7) 100%, #161616 100%), url("https://plwsite.com/uploads/9cda46a16cee97d0d85f7c31499d5fcf.PNG");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
    }
  </style>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Custom styles for this template -->
  <link href="css/grayscale.css" rel="stylesheet">
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <span class="navbar-text mr-auto d-lg-block top-left-logo js-scroll-trigger hjemmegus-logo">
        HjemmeGUS
      </span>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#hjemmegus"><strong>HJEMMEGUS</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#omos"><strong>OM OS</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#service"><strong>SERVICE</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#priser"><strong>PRISER</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#kontakt"><strong>KONTAKT</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://google.com" target="_blank"><strong>BOOK TID</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/" id="languageDropdown" role="button" aria-haspopup="true" aria-expanded="false">Dansk&nbsp;&nbsp;<img src="assets/denmark.png" alt="Danish" style="width: 20px; margin-left: 5px;">
            </a>
          </li>
        </ul>
      </div>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="position:fixed;top: 15px;right: 70px;">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <!-- Header -->
  <header id="hjemmegus" class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0">Velkommen til HjemmeGUS</h1>
        <h2 class="mx-auto my-0">Saunagus hvor du vil</h2>
        <a href="https://google.com" target="_blank" class="btn btn-outline-light btn-lg mt-3 rounded-pill" style="background-color: #ffffff; color: black; font-weight: 600;">Book tid</a>
      </div>
    </div>
  </header>

  <!-- Section 1 -->
  <section id="omos" class="price-section text-left">
    <div class="container">
      <div class="row">
        <!-- Left column for text -->
        <div class="col-lg-12">
          <div class="col-lg-10 offset-lg-1">
            <h3 class="text-black mb-8">SaunaGUS i din have?</h3>
            <!-- Other text content -->
            <p class="text-black mb-8">
              <b>Book dit Saunagus hvor som helst du ønsker det!</b>
              <br><br><br>
              <b>Oplev afslapning med TeltSauna!</b>
              <br>
              Drømmer du om at nyde en varm sauna i din egen have, på sommerhusets terrasse eller ved stranden? Vi gør det muligt. Unik Gusoplevelse - En unik outdoor sauna oplevelse! - Giver dig en beroligende effekt på krop og sind. Saunagus består af 4 runder som varer 10-15 minutter hver, svarende til en time. Jeg bruger æteriske olier og håndklædebevægelser for at sprede de dampende/duftende æteriske olier.<br>
              Saunagus anbefales som en velværende oplevelse, uanset om du er erfaren eller nybegynder. Forkæl dig selv, og nyd den intense stemning i den varme sauna!
              <br><br>
              Som Gusmester guider jeg dig gennem en gusoplevelse med behagelig musik og lækre dufte (æteriske olier) tilsat saunaens varme og magi. Jeg byder dig velkommen til en sanselig rejse til mine saunagus sessioner hvor du vil opleve en kombination af behageligt musik, dufte, og vifte bevægelser med håndklæder.
              <br><br>
              <b>Services</b><br>
              HjemmeGUS, Workshop eller leje af saunatelt?
              <br><br>
              Uanset om du har en hyggeaften med familien, er på telttur i skoven, på stranden eller til en begivenhed i foreningen, klublivet, til par middage, polterabend eller måske en tøseaften så er jeg her til at hjælpe dig med en unik saunagus oplevelse. Du kan endda leje saunateltet på egen hånd og nyde det på din ferie i sommerhuset eller på campingturen! tilføj et strejf af luksus med leje af et transportable telt og lav din egen unik GUS oplevelse. Jeg er her til at guide dig.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="service" class="projects-section bg-light">
    <div class="container" style="margin-bottom: 3em">
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-12">
          <div class="text-center col-12">
            <h3>Service</h3>
            <h4>Du er altid i trykke hænder</h4>
          </div>
        </div>
      </div>
      <div class="row row-cols-5">
        <!-- Column 1 -->
        <div class="col-xl col-lg-12 mb-4">
          <div class="card bg-transparent border-0">
            <img src="https://plwsite.com/uploads/9cda46a16cee97d0d85f7c31499d5fcf.PNG" class="card-img-top rounded-circle img-fluid" alt="Image 1">
            <div class="card-body text-center">
              <h3>HjemmeGUS</h3>
              <p class="card-text">Book én times unik Saunaoplevelse i saunatelt hvor som helst du ønsker det! PRAKTISK: Vi kommer hjem til dig eller der hvor du ønsker at få et GUS i Saunatelt!</p>
            </div>
            <a href="https://google.com" target="_blank" class="btn btn-outline-light btn-lg mt-3 rounded-pill" style="background-color: #ffffff; color: black; font-weight: 600;">Book tid</a>
          </div>
        </div>
        <!-- Column 2 -->
        <div class="col-xl col-lg-12 mb-4">
          <div class="card bg-transparent border-0">
            <img src="https://plwsite.com/uploads/9cda46a16cee97d0d85f7c31499d5fcf.PNG" class="card-img-top rounded-circle img-fluid" alt="Image 2">
            <div class="card-body text-center">
              <h3>Ekstra GUS</h3>
              <p class="card-text">Tillægstid til HjemmeGUS har du allerede booket et HjemmeGUS, men tænker at en time ikke er nok? Book ekstra tid til dit HjemmeGUS her!</p>
            </div>
            <a href="https://google.com" target="_blank" class="btn btn-outline-light btn-lg mt-3 rounded-pill" style="background-color: #ffffff; color: black; font-weight: 600;">Book tid</a>
          </div>
        </div>
        <!-- Column 3 -->
        <div class="col-xl col-lg-12 mb-4">
          <div class="card bg-transparent border-0">
            <img src="https://plwsite.com/uploads/9cda46a16cee97d0d85f7c31499d5fcf.PNG" class="card-img-top rounded-circle img-fluid" alt="Image 3">
            <div class="card-body text-center">
              <h3>Workshop</h3>
              <p class="card-text">Kom til til Workshop i Sauna Telt! Ønsker du selv at komme igang med saunatelt eller lære at blive Gusfaciliatator? Du er med fra start til slut, og får tips og tricks til det praktiske både i forhold til opsætning, nedtagning Varighed: 5 timer</p>
            </div>
            <a href="https://google.com" target="_blank" class="btn btn-outline-light btn-lg mt-3 rounded-pill" style="background-color: #ffffff; color: black; font-weight: 600;">Book tid</a>
          </div>
        </div>
        <!-- Column 4 -->
        <div class="col-xl col-lg-12 mb-4">
          <div class="card bg-transparent border-0">
            <img src="https://plwsite.com/uploads/9cda46a16cee97d0d85f7c31499d5fcf.PNG" class="card-img-top rounded-circle img-fluid" alt="Image 4">
            <div class="card-body text-center">
              <h3>Udlejning</h3>
              <p class="card-text">Lej saunateltet på egen hånd! Nyd saunateltet på din ferie i sommerhuset eller på campingturen! Vores teltsauna er let at sætte op og har en indbygget minipejs</p>
            </div>
            <a href="https://google.com" target="_blank" class="btn btn-outline-light btn-lg mt-3 rounded-pill" style="background-color: #ffffff; color: black; font-weight: 600;">Book tid</a>
          </div>
        </div>
        <!-- Column 5 -->
        <div class="col-xl col-lg-12 mb-4">
          <div class="card bg-transparent border-0">
            <img src="https://plwsite.com/uploads/9cda46a16cee97d0d85f7c31499d5fcf.PNG" class="card-img-top rounded-circle img-fluid" alt="Image 4">
            <div class="card-body text-center">
              <h3>Lej en gusmester</h3>
              <p class="card-text">Har du en sauna selv? men du mangler en gusmester? Her kan du bestille en times gus med egen gusmester. 
                Gusmesteren medbringer olier, vifter og håndklæder så i kan nyde et dejligt saunagus. Gusmesteren kommer 30 min før for at forberede.</p>
            </div>
            <a href="https://google.com" target="_blank" class="btn btn-outline-light btn-lg mt-3 rounded-pill" style="background-color: #ffffff; color: black; font-weight: 600;">Book tid</a>
          </div>
        </div>       
      </div>
    </div>
  </section>
  

  <!-- Section 3 
  <section id="priser">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-8 offset-md-2 price-list">
                <h3 class="text-center mb-4">Priser</h3>
                  <div class="item price-head" style="background: #f5f4f4">
                        <div class="title" style="font-weight: bold">HjemmeGUS</div>
                    </div><div class="item">
                          <div class="title">HjemmeGus</div>
                          <div class="price">1.800,00 DKK</div>
                      </div><div class="item">
                          <div class="title">Ekstra times GUS</div>
                          <div class="price">800,00 DKK</div>
                      </div><div class="item price-head" style="background: #f5f4f4">
                        <div class="title" style="font-weight: bold">Workshop Saunatelt</div>
                    </div><div class="item">
                          <div class="title">Workshop Saunatelt</div>
                          <div class="price">900,00 DKK</div>
                      </div><div class="item price-head" style="background: #f5f4f4">
                        <div class="title" style="font-weight: bold">Leje af saunatelt (uden gusmester)</div>
                    </div><div class="item">
                          <div class="title">1 dag</div>
                          <div class="price">1.800,00 DKK</div>
                      </div><div class="item">
                          <div class="title">1 weekend</div>
                          <div class="price">3.000,00 DKK</div>
                      </div><div class="item">
                          <div class="title">1 uge</div>
                          <div class="price">4.000,00 DKK</div>
                      </div><div class="item">
                          <div class="title">2 uger</div>
                          <div class="price">7.000,00 DKK</div>
                      </div>
              </div>
          </div>
      </div>
  </section>
  -->

  <!-- Footer -->
  <footer id="kontakt">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">HjemmeGUS</h4>
                <div class="d-flex">
                    <a href="https://instagram.com/hjemmegus?igshid=YTQwZjQ0NmI0OA%3D%3D&amp;utm_source=qr" class="" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <!-- You can add content or links here -->
            </div>
            <div class="col-lg-4">
                <h4>Kontakt</h4>
                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <i class="fa fa-mobile fa-fw mr-2" aria-hidden="true"></i>
                        <span>26655811</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fa fa-envelope fa-fw mr-2" aria-hidden="true"></i>
                        <span>HjemmeGUS@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-5 pt-3 text-muted credits">
            <div class="col-12">
                <p class="m-0">
                    ©<script>document.write(new Date().getFullYear())</script>
                    • HjemmeGUS 
                    • CVR: 39662124
                </p>
            </div>
        </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/grayscale.js"></script>

</body>

</html>
