<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HjemmeGUS</title>
  <style type="text/css">
    .masthead {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 35rem;
      padding: 15rem 0;
      background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 60%, rgba(22, 22, 22, 0.7) 100%, #161616 100%), url("https://plwsite.com/uploads/9cda46a16cee97d0d85f7c31499d5fcf.PNG");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
    }
  </style>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Custom styles for this template -->
  <link href="css/grayscale.css" rel="stylesheet">
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <span class="navbar-text mr-auto d-lg-block top-left-logo js-scroll-trigger hjemmegus-logo">
        HjemmeGUS
      </span>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#hjemmegus"><strong>HJEMMEGUS</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#omos"><strong>{{site.data.home[page.language].headLine1}}</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-second-last js-scroll-trigger" href="#service"><strong>{{site.data.home[page.language].headLine2}}</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-last js-scroll-trigger" href="#kontakt"><strong>{{site.data.home[page.language].headLine3}}</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hjemmegus.planway.com" target="_blank"><strong>{{site.data.home[page.language].headLine4}}</strong></a>
          </li>
          <li class="nav-item">  
            <a class="nav-link" href="{{site.data.home[page.language].firstNewLanguageHref}}" id="languageDropdown" role="button" aria-haspopup="true" aria-expanded="false">{{site.data.home[page.language].firstNewLanguage}}<img src="assets/{{site.data.home[page.language].firstNewLanguageAsset}}" alt="{{site.data.home[page.language].firstNewLanguageAlt}}" style="width: 20px; margin-left: 5px;">
            </a>
          </li>
        </ul>
      </div>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="position:fixed;top: 15px;right: 70px;">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <!-- Header -->
  <header id="hjemmegus" class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0">{{site.data.home[page.language].headerHeadLine1}}</h1>
        <h2 class="mx-auto my-0">{{site.data.home[page.language].headerHeadLine2}}</h2>
        <a href="https://hjemmegus.planway.com" target="_blank" class="btn btn-outline-light btn-lg mt-3 rounded-pill" style="background-color: #ffffff; color: black; font-weight: 600;">{{site.data.home[page.language].bookingButton}}</a>
      </div>
    </div>
  </header>

  <!-- Section 1 about -->
  <section id="omos" class="price-section text-left">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-10 offset-lg-1">
            <h3 class="text-black mb-8">{{site.data.home[page.language].section1Headline1}}</h3>
            <p class="text-black mb-8">
              <b>{{site.data.home[page.language].section1Headline2}}</b>

              <!-- top images -->
              <div class="container">
                <div class="row">
                  <div class="col-md-4 mb-4 mb-md-0">
                    <img src="assets/top1.png" alt="" class="img-fluid">
                  </div>
                  <div class="col-md-4 mb-4">
                    <img src="assets/top2.png" alt="" class="img-fluid">
                  </div>
                  <div class="col-md-4 mb-4">
                    <img src="assets/top4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>

              <br><br><br>
              <b>{{site.data.home[page.language].section1Headline3}}</b>
              <br>
              {{site.data.home[page.language].section1Text1}}
              <br><br>
              {{site.data.home[page.language].section1Text2}}
              <br><br>
              <b>{{site.data.home[page.language].section1Headline4}}</b><br>
              {{site.data.home[page.language].section1Text3}}
              <br><br>
              {{site.data.home[page.language].section1Text4}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 2 services -->
  <section id="service" class="projects-section bg-light">
    <div class="container" style="margin-bottom: 3em">
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-12">
          <div class="text-center col-12">
            <h3 style="margin-top: 50px;">{{site.data.home[page.language].section2Header1}}</h3>
            <h4>{{site.data.home[page.language].section2Header2}}</h4>
          </div>
        </div>
      </div>
      <div class="row row-cols-5">
        <!-- Column 1 -->
        <div class="col-xl col-lg-12 mb-4">
          <div class="card bg-transparent border-0">
            <img src="https://plwsite.com/uploads/9cda46a16cee97d0d85f7c31499d5fcf.PNG" class="card-img-top rounded-circle img-fluid" alt="Image 1">
            <div class="card-body text-center">
              <h3>{{site.data.home[page.language].section2Service1Header}}</h3>
              <p class="card-text">{{site.data.home[page.language].section2Service1Text}}</p>
            </div>
            <a href="https://hjemmegus.planway.com" target="_blank" class="btn btn-outline-light btn-lg mt-3 rounded-pill" style="background-color: #ffffff; color: black; font-weight: 600;">{{site.data.home[page.language].bookingButton}}</a>
          </div>
        </div>
        <!-- Column 2 -->
        <div class="col-xl col-lg-12 mb-4">
          <div class="card bg-transparent border-0">
            <img src="https://plwsite.com/uploads/9cda46a16cee97d0d85f7c31499d5fcf.PNG" class="card-img-top rounded-circle img-fluid" alt="Image 2">
            <div class="card-body text-center">
              <h3>{{site.data.home[page.language].section2Service2Header}}</h3>
              <p class="card-text">{{site.data.home[page.language].section2Service2Text}}</p>
            </div>
            <a href="https://hjemmegus.planway.com" target="_blank" class="btn btn-outline-light btn-lg mt-3 rounded-pill" style="background-color: #ffffff; color: black; font-weight: 600;">{{site.data.home[page.language].bookingButton}}</a>
          </div>
        </div>
        <!-- Column 3 -->
        <div class="col-xl col-lg-12 mb-4">
          <div class="card bg-transparent border-0">
            <img src="https://plwsite.com/uploads/9cda46a16cee97d0d85f7c31499d5fcf.PNG" class="card-img-top rounded-circle img-fluid" alt="Image 3">
            <div class="card-body text-center">
              <h3>{{site.data.home[page.language].section2Service3Header}}</h3>
              <p class="card-text">{{site.data.home[page.language].section2Service3Text}}</p>
            </div>
            <a href="https://hjemmegus.planway.com" target="_blank" class="btn btn-outline-light btn-lg mt-3 rounded-pill" style="background-color: #ffffff; color: black; font-weight: 600;">{{site.data.home[page.language].bookingButton}}</a>
          </div>
        </div>
        <!-- Column 4 -->
        <div class="col-xl col-lg-12 mb-4">
          <div class="card bg-transparent border-0">
            <img src="https://plwsite.com/uploads/9cda46a16cee97d0d85f7c31499d5fcf.PNG" class="card-img-top rounded-circle img-fluid" alt="Image 4">
            <div class="card-body text-center">
              <h3>{{site.data.home[page.language].section2Service4Header}}</h3>
              <p class="card-text">{{site.data.home[page.language].section2Service4Text}}</p>
            </div>
            <a href="https://hjemmegus.planway.com" target="_blank" class="btn btn-outline-light btn-lg mt-3 rounded-pill" style="background-color: #ffffff; color: black; font-weight: 600;">{{site.data.home[page.language].bookingButton}}</a>
          </div>
        </div>
        <!-- Column 5 -->
        <div class="col-xl col-lg-12 mb-4">
          <div class="card bg-transparent border-0">
            <img src="assets/logo.png" class="card-img-top rounded-circle img-fluid" alt="Image 4">
            <div class="card-body text-center">
              <h3>{{site.data.home[page.language].section2Service5Header}}</h3>
              <p class="card-text">{{site.data.home[page.language].section2Service5Text}}</p>
            </div>
            <a href="https://hjemmegus.planway.com" target="_blank" class="btn btn-outline-light btn-lg mt-3 rounded-pill" style="background-color: #ffffff; color: black; font-weight: 600;">{{site.data.home[page.language].bookingButton}}</a>
          </div>
        </div>       
      </div>
    </div>
  </section>

  <!-- Section 3 mid images -->
  <section>
    <div class="container" style="margin-top: 50px;">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
          <img src="assets/bottom1.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4 mb-4 ">
          <img src="assets/bottom2.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4 mb-4 ">
          <img src="assets/bottom3.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer id="kontakt">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">HjemmeGUS</h4>
                <img src="assets/maria.png" alt="" class="img-fluid">
            </div>
            
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="d-flex">
                <a href="https://instagram.com/hjemmegus?igshid=YTQwZjQ0NmI0OA%3D%3D&amp;utm_source=qr" class="" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                <a href="https://www.facebook.com/profile.php?id=61555959384772" class="" target="_blank">
                  <i class="fa fa-facebook" aria-hidden="true" style="margin-left: 10px;"></i>
                </a>
              </div>          
            </div>

            <div class="col-lg-4">
                <h4>{{site.data.home[page.language].footerContact}}</h4>
                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <i class="fa fa-mobile fa-fw mr-2" aria-hidden="true"></i>
                        <span>26655811</span>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="fa fa-whatsapp fa-fw mr-2" aria-hidden="true"></i>
                      <span>+4526655811</span>
                  </div>
                    <div class="d-flex align-items-center">
                        <i class="fa fa-envelope fa-fw mr-2" aria-hidden="true"></i>
                        <span>HjemmeGUS@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-5 pt-3 text-muted credits">
            <div class="col-12">
                <p class="m-0">
                    ©<script>document.write(new Date().getFullYear())</script>
                    • HjemmeGUS 
                    • CVR: 39662124
                </p>
            </div>
        </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/grayscale.js"></script>

  <script>
    $(window).scroll(function() {
      if($(window).scrollTop() + $(window).height() > $(document).height() - 10) {
        $('.nav-link').removeClass('active'); 
        $('.nav-link-last').addClass('active'); 
      } else if($(window).scrollTop() + $(window).height() > $(document).height() - 20) {
        $('.nav-link-last').removeClass('active'); 
        $('.nav-link-second-last').addClass('active'); 
      }
    });
  </script>

</body>

</html>
